
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

section{
    margin-top: 20px;
}

#logo{
    height: 80px;
    background-image: url(asstes/IMG/pattern.png);
    background-size: 20%;
    background-color: dodgerblue;
}

.logo{
    margin: 40px 0px;
}

h1{
    font-size: 40px;
}

#testata-giornalistica{
    color: dodgerblue;
}

#grey{
    color: gray;
    margin-bottom: 20px;
}
table{
    border-spacing: 0;
}

.right{
    width: 50%;
}

thead{
    background-color: dodgerblue;
}

th{
    color: white;
}

.sfalsato{
    background-color: rgb(155, 226, 240) ;
}
